body {
  font-family: "Poppins", sans-serif;
}
.feedback-slide-btn {
  background-color: rgba(25, 135, 84, 0.3);
}
.carousel-item img {
  height: 32.25rem !important;
}
.carousel-caption {
  position: absolute;
  top: 43%;
  display: flex;
  align-items: center;
  height: 100%;
}
/* very small */
@media screen and (max-width: 575px) {
  .carousel-caption {
    position: absolute;
    top: 33%;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .carousel-item img {
    height: 17.25rem !important;
  }
  .carousel-caption h1 {
    font-size: 1.2rem !important;
  }
  .carousel-caption p {
    font-size: 0.9rem !important;
  }
  .carousel-caption button {
    font-size: 0.9rem !important;
    padding: 3px 5px;
  }

  .courses-list .card img {
    width: 100% !important;
    height: 23rem !important;
  }
  .feature-section div:nth-child(1),
  .feature-section div:nth-child(2),
  .feature-section div:nth-child(3) {
    border-right: 0px solid #dee2e6 !important;
  }
  .ready-join-body h1 {
    text-align: center;
  }
  .ready-join-body p {
    text-align: center;
  }
  .feature-section .heading {
    width: 85% !important;
  }
}
/* small device */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .carousel-item img {
    height: 25.25rem !important;
  }
  .carousel-caption h1 {
    font-size: 1.3rem !important;
  }
  .carousel-caption p {
    font-size: 0.8rem !important;
  }
  .carousel-caption button {
    font-size: 1rem !important;
  }

  .courses-list .card img {
    width: 100% !important;
    height: 23rem !important;
  }
  .feature-section div:nth-child(1),
  .feature-section div:nth-child(2),
  .feature-section div:nth-child(3) {
    border-right: 0px solid #dee2e6 !important;
  }
  .ready-join-body p {
    text-align: center;
  }
}
/* medium size */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .second-counting {
    border-right: 0px solid #dee2e6 !important;
  }

  .ready-join-body p {
    text-align: center;
  }
}
